.navlinks{
    color: white;  
  }
  .navlinks > a{
 color: white;
text-decoration: none;
 margin: 16px; }
 body{
 background-color:rgb(6, 6, 24); 
 } 
 .roro{
    color: beige;
 }
 .logo{
    color: honeydew;
 }
 .navigation{
    width: 70%;
    margin: auto;
    display: flex; 
    align-items: center;
    flex-direction: row;
    justify-content: space-around;  }                